<html>
  <body>
    <div id="svg_wrap"></div>
    <div class="container" >
    
      <div class="formContainer">

 <h1 style="text-align: center;">Registration</h1>
<section>
  <p>Personal information</p>
  <input type="text" placeholder="Firstname" required>
  <input type="text" placeholder="Surname" required>
  <div class="label">Birth Date:</div>
    <input type="date" id="start" name="trip-start" value="" required>

  <div class="label" required>Gender:</div>
                     <select>
                         <option>Male</option>
                         <option>Female</option>
                         <option>Other</option>
                     </select>
</section>

<section>
  <p>Address</p>
  <input type="text" placeholder="Street" required>
  <input type="text" placeholder="City" required>
  <input type="text" placeholder="Postcode" required>
  <input type="text" placeholder="Country" required>
</section>

<section>
  <p>Contact information</p>
  <input type="text" placeholder="Email address" required>
  <input type="text" placeholder="Phone" required>
  <input type="text" placeholder="Mobile" required>
</section>

<section>
  <p>Register</p>
  <input type="text" placeholder="Username" required>
  <input type="password" placeholder="password" required>
  <input type="password" placeholder="confirm password" required>
</section>
      </div></div>

      <a id="cancel" routerLink="/mainpage">Cancel</a>
<div class="button" id="submit" style="text-align: center;"><a routerLink="/login">Register</a></div>
</body>
</html>
