<div id="svg_wrap"></div>

 <h1>Registration</h1>
<section>
  <p>Personal information</p>
  <input type="text" placeholder="Firstname" />
  <input type="text" placeholder="Surname" />
  <div class="label">Birth Date:</div>
    <input type="date" id="start" name="trip-start" value="" >

  <div class="label">Gender:</div>
                     <select>
                         <option>Male</option>
                         <option>Female</option>
                         <option>Other</option>
                     </select>
</section>

<section>
  <p>Address</p>
  <input type="text" placeholder="Street" />
  <input type="text" placeholder="City" />
  <input type="text" placeholder="Postcode" />
  <input type="text" placeholder="Country" />
</section>

<section>
  <p>Contact information</p>
  <input type="text" placeholder="Email address" />
  <input type="text" placeholder="Phone" />
  <input type="text" placeholder="Mobile" />
</section>

<section>
  <p>Register</p>
  <input type="text" placeholder="Username" />
  <input type="password" placeholder="password" />
  <input type="password" placeholder="confirm password" />
</section>


  <div class="button" id="prev">&larr; Previous</div>
<div class="button" id="next">Next &rarr;</div>
<div class="button" id="submit"><a routerLink="/login">Register</a></div>
