* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    
}
.text{
    position:absolute;
    left: 185px;
    top:40%;
    text-align: center;

}

:host(){
    height: clac( 100% - 100px);
}

.container {
    width: 100%;
    /* height: 100vh; */
    /* border: 2px solid black; */
    display: flex;
}

.left,
.right {
 
    /* height:100vh; */
    margin-top: 10px;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center; 



}

.right {
    width: 30%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    flex-direction: column;  
    align-items: center;

}

.left{
    width: 70%;
    flex-shrink: 2;
    flex-direction: column;
    align-items: center ;

}

.text{
    text-align: center;
}

.line{
    width: 1px;
    height: 50%;
    border: 1px solid gray;
    align-self: flex-end;
    position: relative;
    right:80px
}

/* .text::after{
    position: absolute;
    display: block;
    content: '';
    height: 200px;
    width: 2px;
    background-color: grey;
    border: 1px solid grey;
    top: 50%;
    transform: translateY(-50%);
    right: -100px;
} */

.text h2{
    font-weight: 300;
    font-size: 50px;
    
}
.text h1{
    font-weight: 600;
    font-size: 60px;
}

.formContainer {
    min-width: 200px;
    position: relative;
    
    /* padding-right: 10px; */
}


.formContainer h2 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}


.btn {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 50px;
    padding: 4px;
    margin: 18px 0px;
    font-weight: 600;
    cursor: pointer;
}

.btn img {
    height: 20px;
    margin: 5px;
}

.btn p {
    display: inline;
}

.btn:hover {
    border-color: blue;
}

.lineText {
    position: relative;
    color: rgb(168, 164, 164);
    font-size: 12px;
    margin: 25px 0px;
    text-align: center;
}

.lineText::before,
.lineText::after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background:rgb(168, 164, 164);
    top: 50%;
    position: absolute;
}

.lineText::before {
    left: -8px;
}

.lineText::after {
    right: -8px;
}

.inputText {
    height: 35px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0px;
    cursor: pointer;
    outline: none;
    caret-color: blue;
}

.inputText:focus {
    border-color: blue;
}

#forPass {
    text-decoration: none;
    float: right;
    font-size: 14px;
    color: blue;

}

.submit {
    margin-top: 35px;
    background-color: rgb(81, 56, 238);
    border: transparent;
    color: white;
}

.submit:hover {
    background-color: rgb(51, 31, 179);
}


