<div class="container">

    <div class="left">
        <div class="text">
            <h2>Alternative</h2>
            <h1>Health Services</h1>
        </div>
        <div class="line">
            
        </div>
    </div>
    <div class="right">
        <div class="formContainer">
            <h2>Login</h2>
            <div class="btn">
                <div> <img src="assets/google.png" alt=""></div>
                <div>
                    <p>Sign in with Google</p>
                </div>
            </div>
            <div class="btn">
                <img src="assets/kisspng-facebook-computer-icons-logo-ridgecrest-baptist-ch-circle-5abb332d79d938.8415296915222177734991.png"
                    alt="">
                <p>Sign in with Facebook</p>
            </div>
            <div class="lineText">
                <p>or Sign in with Email</p>
            </div>
            <form action="#" method="post">
                <p>Email</p>
                <input type="email" name="userId" class="inputText" autocomplete="off" placeholder="Enter your Email">
                <p>Password</p>
                <input type="password" name="password" class="inputText" autocomplete="off"
                    placeholder="Enter your Password">
                <a id="forPass" href="#">Forget Password?</a>
            </form>
            <div class="btn submit">
                Login
            </div>
        </div>
    </div>
</div>