<div class="text">
<h2>Alternative</h2>
<h1>Health Services</h1>
</div>
<div class="container">
    <div class="center">
        <div class="left">
            <div class="formContainer">
                <h2>Login
                    <img id="victoryHand" src="victory-hand.png" alt="victory_hand" srcset="">
                </h2>
                <p id="extInfo">How do i get started Lorem ipsum dolor at?</p>
                <div class="btn">
                    <div> <img src="google.png" alt=""></div>
                    <div>
                        <p>Sign in with Google</p>
                    </div>

                </div>
                <div class="btn">
                    <img src="kisspng-facebook-computer-icons-logo-ridgecrest-baptist-ch-circle-5abb332d79d938.8415296915222177734991.png"
                        alt="">
                    <p>Sign in with Facebook</p>
                </div>

                <div class="lineText">

                    <p>or Sign in with Email</p>

                </div>

                <form action="#" method="post">
                    <p>Email</p>
                    <input type="email" name="userId" class="inputText" autocomplete="off" placeholder="Enter your Email">
                    <p>Password</p>
                    <input type="password" name="password" class="inputText" autocomplete="off" placeholder="Enter your Password">
                    <a id="forPass" href="#">Forget Password?</a>
                </form>
                <div class="btn submit">Login</div>
                
            </div>
        </div>