<!DOCTYPE html>
<html>
<body>
    <nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h2>Take your Medicines</h2>
        <div class="d-flex">
            <button (click)="clickAddMedicine" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Add</button>
        </div>
    </div>
    </nav>



<table style="width:100%" class="mt-3">
  <tr>
    <th>Medicine ID</th>
    <th>Name of the Medicine</th>
    <th>Dose</th>
    <th>Morning</th>
    <th>Noon</th>
    <th>Bed time</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let row of medicineData">
    <td>{{row.id}}</td>
    <td>{{row.medicineName}}</td>
    <td>{{row.dose}}</td>
    <td>{{row.morningTime}}</td>
    <td>{{row.noonTime}}</td>
    <td>{{row.bedTime}}</td>
    <td>{{row.startDate}}</td>
    <td>{{row.endDate}}</td>
    <td>
      <button (click)="onEdit(row)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success" class="btn btn-info">Edit</button>
      <button (click)="deleteMedicine(row)" class="btn btn-danger mx-3">Delete</button>
    </td>
  </tr>
  
</table>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Medicine Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputmedicinename" class="form-label">Name of the Medicine</label>
            <input type="name" formControlName="medicineName" class="form-control" id="exampleInputmedicinename" aria-describedby="nameHelp">
            
          </div>
          <div class="mb-3">
            <label for="exampleInputdose" class="form-label">Dose</label>
            <input type="dose" formControlName="dose" class="form-control" id="exampleInputdose">
          </div>
          <div class="mb-3">
            <label for="exampleInputtime" class="form-label">Morning</label>
            <input type="time" formControlName="morningTime" class="form-control" id="exampleInputtime">
          </div>
          <div class="mb-3">
            <label for="exampleInputtime" class="form-label">Noon</label>
            <input type="time" formControlName="noonTime" class="form-control" id="exampleInputtime">
          </div>
          <div class="mb-3">
            <label for="exampleInputtime" class="form-label">Bedtime</label>
            <input type="time" formControlName="bedTime" class="form-control" id="exampleInputtime">
          </div>
          <div class="mb-3">
            <label for="exampleInputdate" class="form-label">Start Date</label>
            <input type="date" formControlName="startDate" class="form-control" id="exampleInputdate">
          </div>
          <div class="mb-3">
            <label for="exampleInputdate" class="form-label">End Date</label>
            <input type="date" formControlName="endDate" class="form-control" id="exampleInputdate">
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button"  (click)="postMedicineDetails()" class="btn btn-primary">Add</button>
        <button type="button"  (click)="updateMedicineDetails()" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>