<div class="top">

    <nav class="navbar navbar-expand-lg navbar-light">

        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img style="padding-left:10px;" src="assets/Navcara-logo.png" height="70px" width="80px"></a>

            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="#all" class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <!-- Dropdown menu -->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="#">Action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Another action</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

    <!-- <div>
         <img class="img"
             src="assets\Navcara-logo.png" height="50px">
         <ul class="nav navbar-nav navbar-right">
             <li>Login</li>
         </ul>
     </div> -->

    <div class="center">
        <p><span id="bigtext">Alternative <br> Health Services</span><br>
            <p>Add Value to your Health</p>

            <button type="button" class="btn btn-primary" routerLink="/login">Join us</button>
    </div>
</div>

<table width="100%">
    <tr style="background-color:rgb(165, 236, 225);">

        <td width="50%">
            <div id="all" class="center">
                <p><b><span id="bigtext">All medical facility in one place</span></b><br>
                    <p style="font-size: 40px;">Experince a hassle free medical services with 24x7 availablity</p>
                    <button type="button" class="btn btn-primary">Get started</button>
            </div>
        </td>
        <td class="right" width="50%">

            <img id="pysio" src="https://i.pinimg.com/originals/b8/23/e3/b823e38cc01fdb9278b6f7faa2feda6d.gif" height="250px" />

        </td>
    </tr>


    <tr>
        <td colspan="3">
            <hr style="height:6px;background-color:#f7f7f7; border-width:0;">
        </td>
    </tr>
    <tr style="background-color:rgba(117, 217, 241, 0.151);">
        <td class="left" width="50%">

            <img src="https://vcf.mycareersfuture.gov.sg/resources/occupation-insights/img/he_p.gif" height="350px" />

        </td>
        <td width="50%">
            <div class="center">
                <p style="color: #fcbf7b;"><b><span id="bigtext">Physiotherapy</span></b><br>
                    <p style="font-size: 40px;color: #fcbf7b;">Connect with expert physiotherapist</p>
                    <button type="button" class="btn btn-primary" routerLink="/physio">Get started</button>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr style="height:6px;background-color:#f7f7f7; border-width:0;">
        </td>
    </tr>
    <tr style="background-color:  #f1d8a8;">
        <td width="50%">
            <div class="center">
                <p><b><span id="bigtext">Music Therepy</span></b><br>
                    <p style="font-size: 40px;">Cure from Music therpy ,an advance Science</p>
                    <button type="button" class="btn btn-primary" routerLink="/music">Get started</button>
            </div>
        </td>
        <td class="right" width="50%">

            <img id="pysio" src="https://www.verywellmind.com/thmb/ZIa830b1PZh-LfC_avf7emlm-b4=/1067x800/smart/filters:no_upscale()/benefits-of-music-therapy-89829-bfd78c92511242b99067ca874fcb9665.gif" height="250px">







        </td>

    </tr>
    <tr>
        <td colspan="2">
            <hr style="height:6px;background-color:#f7f7f7; border-width:0;">
        </td>
    </tr>
    <tr style="background-color:#dbf4f0 ;">
        <td class="left1" width="50%">

            <img src="https://www.sheknows.com/wp-content/uploads/2018/08/gdtsjhqjobppwaarhily.gif" height="250px" />

        </td>
        <td width="50%">
            <div class="center">
                <p style="color: #444e61;"><b><span id="bigtext">Yoga and wellness</span></b><br>
                    <p style="font-size: 40px;color: #444e61;">Heal your body naturally through yoga therepy </p>
                    <button type="button" class="btn btn-primary" routerLink="/yoga">Get started</button>
            </div>
        </td>

    </tr>
    <tr>
        <td colspan="2">
            <hr style="height:6px;background-color:#f7f7f7; border-width:0;">
        </td>
        <tr style="background-color: #9dc9bc;">

            <td width="50%">
                <div class="center">
                    <p style="color: #6d2a09;"><b><span id="bigtext">Dietry</span></b><br>
                        <p style="font-size: 40px;color: #6d2a09;">Controlled diet suggestion by our experts</p>
                        <button type="button" class="btn btn-primary" routerLink="/diet">Get started</button>
                </div>
            </td>
            <td class="right" width="50%">


                <img src="https://imagesvc.meredithcorp.io/v3/mm/gif?url=https%3A%2F%2Fimagesvc.meredithcorp.io%2Fv3%2Fmm%2Fgif%3Furl%3Dhttps%253A%252F%252Fstatic.onecms.io%252Fwp-content%252Fuploads%252Fsites%252F23%252F2021%252F04%252F19%252FClimatarian_header_resize2.gif"
                    height="250px">

            </td>
        </tr>
</table>
<app-footer></app-footer>