<!-- <table width="100%">

    <td width="50%">
        <div class="container">
            <div class="center">
                <div class="left">
                    <div class="formContainer">
                        <h2>Login

                        </h2>
                        <h2 id="account-type">
                            Choose account type
                        </h2>

                        <div id="doctor">
                            <div> <img src="" alt=""></div>
                            <div>
                                <p>Doctor</p>
                            </div>

                        </div>
                        <div id="pateint">
                            <img src="" alt="">
                            <p>Patient</p>
                        </div>

                        <div class="lineText">

                            <p>or Sign in with Email</p>

                        </div>

                        <form action="#" method="post">
                            <p>Email</p>
                            <input type="email" name="userId" class="inputText" autocomplete="off" placeholder="Enter your Email">
                            <p>Password</p>
                            <input type="password" name="password" class="inputText" autocomplete="off" placeholder="Enter your Password">
                            <a id="forPass" href="#">Forget Password?</a>
                        </form>
                        <div class="btn submit">Login</div>

                    </div>
                </div>



            </div>
        </div>
    </td>
</table> -->

<html>
    <body>

    <div class="container" >
    
    <div class="formContainer">
        <h2>Sign in

        </h2>
        <h2 id="account-type">
            Choose account type
        </h2>
        <div id="choose-move">
            <div id="doctor">
                <div> <img id="doc-img" src="assets/doctor.png" alt=""></div>
                <!-- <div>
                    <p>Doctor</p>
                </div> -->

            </div>
            <div id="pateint">
                <img id="pat-img" src="assets/patient.png" alt="">
                <!-- <p>Patient</p> -->
            </div>
            <div class="radio">
                <div id="doc-radio">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                          Doctor
                        </label>
                    </div>
                </div>
                <div id="pat-radio">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                          Patient
                        </label>
                        <div class="form-container">
                            <form [formGroup]="loginForm" (ngSubmit)="login()">

                                <input formControlName="email" type="email" name="userId" class="inputText" autocomplete="off" placeholder="Enter your Email" required>

                                <input formControlName="password" type="password" name="password" class="inputText" autocomplete="off" placeholder="Enter your Password" required>
                                <button type="submit"><a routerLink="/home">Login</a></button>
                                <a id="forPass" href="#">Forget Password?</a>
                            </form>
                            <a id="cancel" routerLink="/mainpage">Cancel</a>
                            <p id="signup">No Account? <a id="sign" routerLink="/register">Register</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</body>
</html>