<table width="100%">

    <td width="50%">
        <div class="container">
            <div class="center">
                <div class="left">
                    <div class="formContainer">
                        <h2>Login

                        </h2>
                        <h2 id="account-type">
                            Choose account type
                        </h2>

                        <div id="doctor">
                            <div> <img src="" alt=""></div>
                            <div>
                                <p>Doctor</p>
                            </div>

                        </div>
                        <div id="pateint">
                            <img src="" alt="">
                            <p>Patient</p>
                        </div>

                        <div class="lineText">

                            <p>or Sign in with Email</p>

                        </div>

                        <form action="#" method="post">
                            <p>Email</p>
                            <input type="email" name="userId" class="inputText" autocomplete="off" placeholder="Enter your Email">
                            <p>Password</p>
                            <input type="password" name="password" class="inputText" autocomplete="off" placeholder="Enter your Password">
                            <a id="forPass" href="#">Forget Password?</a>
                        </form>
                        <div class="btn submit">Login</div>

                    </div>
                </div>



            </div>
        </div>
    </td>
</table>