<div class="container">

    <div class="formContainer">
        <h2>Sign in

        </h2>
        <h2 id="account-type">
            Choose account type
        </h2>
        <div id="choose-move">
            <div id="doctor">
                <div> <img id="doc-img" src="assets/doctor.png" alt=""></div>
                <!-- <div>
                    <p>Doctor</p>
                </div> -->

            </div>
            <div id="pateint">
                <img id="pat-img" src="assets/patient.png" alt="">
                <!-- <p>Patient</p> -->
            </div>
            <div class="radio">
                <div id="doc-radio">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="sign" routerLink="login-doc"
                            value="option2">
                        <label class="form-check-label" id="sign" routerLink="login-doc" for="exampleRadios2">
                            Doctor
                        </label>
                    </div>
                </div>
                <div id="pat-radio">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="sign" routerLink="login-pat"
                            value="option2">
                        <label class="form-check-label" id="sign" routerLink="login-pat" for="exampleRadios2">
                            Patient
                        </label>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            
            </div>

        </div>
    </div>
</div>