<table width="100%">
    <td width="50%">
        <div class="text">
            <h2>Alternative</h2>
            <h1>Health Services</h1>
        </div>
    </td>
    <td width="50%">
        <div class="container">
            <div class="center">
                <div class="left">
                    <div class="formContainer">
                        <h2>Login
    
                        </h2>
                       
                        <div class="btn">
                            <div> <img src="C:\Users\Aniru\Desktop\Project\github\Alternate-Health-App\Alternative health app\Health-app\src\app\mainscreen\Images\google.png" alt=""></div>
                            <div>
                                <p>Sign in with Google</p>
                            </div>
    
                        </div>
                        <div class="btn">
                            <img src="kisspng-facebook-computer-icons-logo-ridgecrest-baptist-ch-circle-5abb332d79d938.8415296915222177734991.png"
                                alt="">
                            <p>Sign in with Facebook</p>
                        </div>
    
                        <div class="lineText">
    
                            <p>or Sign in with Email</p>
    
                        </div>
    
                        <form action="#" method="post">
                            <p>Email</p>
                            <input type="email" name="userId" class="inputText" autocomplete="off"
                                placeholder="Enter your Email">
                            <p>Password</p>
                            <input type="password" name="password" class="inputText" autocomplete="off"
                                placeholder="Enter your Password">
                            <a id="forPass" href="#">Forget Password?</a>
                        </form>
                        <div class="btn submit">Login</div>
    
                    </div>
                </div>
    
    
    
            </div>
        </div>
    </td>
</table>