<div class="sidebar">

    <header>
        <div class="img">
            <a href="#"><img class="img" src="assets/user.png"></a>
        </div>
        </header>
    <ul>
        <li>

            <a routerLink="Profile"><i class="fas fa-qrcode">Profile</i></a>
        </li>
        <li>
            <a routerLink="Appointment"><i class="bi bi-alarm">Appointment</i></a>
        </li>

            <a routerLink="/profile"><i class="fas fa-qrcode">Profile</i></a>
        </li>
        <li>
            <a routerLink="/Appointment"><i class="bi bi-alarm">Appointments</i></a>
        </li>
       


    </ul>
    <div class="img1">
        <a routerLink="/mainpage"><img class="img1" src="assets/outline_logout_white_48dp.png"></a>

    </div>
</div>

    </div>

