body {
    font-size: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: 0;
    width: 200px;
    background-color: #042331;
    height: 100%;
    border-radius: 10px;
}

.img {
    padding-top: 20px;
    width: 100px;
    position: relative;
    left: 38px;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    background-color: #063146;
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a {
    padding-left: 50px;
}

.img1 {
    width: 50px;
    position: relative;
    height: 44px;
    top: 1px;
    left: 45px;
}