<p style="text-align: center;">Book your Appointment.</p>
<div class="row">
    <h2> Appointments </h2>
 <div class="column-row">
   <div class="card">
     <img src="https://t3.ftcdn.net/jpg/03/29/36/40/360_F_329364028_wVuGGblS5BxfbbQYiPMZzpzOuAYUBkzx.jpg">
     <h2>Appointment#1</h2>
     <p>
      Time: 12:00 pm
      Name: XYZ
     </p>
   </div>
 </div>
 <div class="column-row">
   <div class="card">
     <img src="https://t3.ftcdn.net/jpg/03/29/36/40/360_F_329364028_wVuGGblS5BxfbbQYiPMZzpzOuAYUBkzx.jpg">
           <h2>Appointment#2</h2>
     <p>
      Time: 12:00 pm
      Name: XYZ
     </p>
   </div>
 </div>
 <div class="column-row">
   <div class="card">
     <img src="https://t3.ftcdn.net/jpg/03/29/36/40/360_F_329364028_wVuGGblS5BxfbbQYiPMZzpzOuAYUBkzx.jpg">
           <h2>Appointment#3</h2>
     <p>
      Time: 12:00 pm
      Name: XYZ
     </p>
   </div>
 </div>
 <div class="column-row">
   <div class="card">
     <img src="https://t3.ftcdn.net/jpg/03/29/36/40/360_F_329364028_wVuGGblS5BxfbbQYiPMZzpzOuAYUBkzx.jpg">
           <h2>Appointment#4</h2>
     <p>
      Time: 12:00 pm
      Name: XYZ
     </p>
   </div>
 </div>
</div>  
