
<div class ="container1">
    <h1 style="padding-left: 10px;position:relative;top:-53px;left:-12px;">Profile</h1>
    <div class="img">
        <a href="#"><img class="img" src="assets/user.png"></a>
    </div>
    <p style="margin-left:78px;">Subash</p>
    <div class="row">
    <p>Gender:</p>
    <p>Age:</p>
    <p>Height:</p>
    <p>Weight:</p>    
    </div>
</div>
<div class ="container2">
    <h1>Recent Diagnosis</h1>
    <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Problems</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
            {{fruit.name}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input placeholder="add more.."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
      
</div>
<div class ="container3">
   <app-fileuploder></app-fileuploder>
</div>
